@font-face {
    font-family:'plant-font';
    src: url(burbank-big-condensed-bold/plantFont.otf);
}

@font-face {
    font-family: 'zombie-font';
    src: url(houseofterror-regular/zombieFont.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plant-font','zombie-font','Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    user-select: none;

}

:root {
    --main-color: rgb(3, 89, 3);
    --text-color:#fff;
    --bg-color:#151229;
    --big-font: 10rem;
    --h2-font: 2.25rem;
    --p-font:0.9rem;

}

*::selection {
    background: var(--main-color);
    color: #fff;
     
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--bg-color);

}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
    text-align: center;


}

.logo , .bx-menu{
    color: var(--main-color);
    font-weight: 600;
    font-size: 5rem;
    padding: 0 5%;
}

.navbar {
    display: flex;

}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 10px 20px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
}

.navbar a:hover {
    color: var(--main-color);
    transition: .4s;

}

.navbar .active {
    background: var(--main-color);
    color: var(--bg-color);
    overflow: hidden;
}

.navbar .active:hover{
    color: var(--bg-color);

}

#menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

section {
    padding: 70px 17%;
}

.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    
    
}

.title {
    font-size:50px;
}

.home-image img {
    max-width: 100%;
    width: 600px;
    height: auto;
    order: 1;
}

.home-text h1 {
    font-size: 70px;
    color: var(--main-color);


}

.home-text h2 {
    font-size: 50px;
    margin: 1rem 0 2rem;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem ;
}

.btn:hover {
    transform: scale(1.2) translateY(10px);
    transition: 0.4s;

}

.CD {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.CD-image {
    text-align: center;
}

.CD-image img{
    max-width: 100%;
    width: 300px;
    height: auto;

}

.CD-image-zomboss {
    justify-content: center;
    text-align: center;
}

.CD-image-zomboss img {
    max-width: 120%;
    width: 100%;
    
    
}

.CD-text span {
    color: var(--main-color);
    font-weight: 600;

}

.CD-text h2 {
    font-size: var(--h2-font);


}

.CD-text p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

section#zomboss.cd h2, .wrapper-zomb ul li >*, #join.contact h2{
    font-family: 'zombie-font', sans-serif;
}

.CD-text p {
    font-size: 1.5rem;
}

.CD-text h2 {
    font-size: 2.5rem;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;

}

.s-box {
    text-align: center;
    padding: 20px 30px;

}

.s-box img {
    width: 90px;
}

.s-box h3 {
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 2rem;
}

.s-box p {
    line-height: 1.7;
}

.contact {
    background: #feeee7;
    padding: 30px 0;
    text-align: center;
    width: 66%;
    margin: 50px auto;
    border-radius: 10px;
}

.contact h2 {
    font-size: 3rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;

}

.col {
    width: 25%;
}

.col h4 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(:last-child){
    margin-bottom: 15px;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.5rem;
    display: block;
    text-transform:capitalize ;
    transition: .4s;

}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem ;
    border-radius: 50%;
    transition: .4s;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}



/* carousel styles */

.wrapper-plant, .wrapper-zomb {
    max-width: 1100px;
    width: 100%;
    position: relative;
}


.wrapper-plant i, .wrapper-zomb i {
    color: #8b53ff;
    height: 50px;
    width: 50px;
    border: 3px solid #8b53ff;
    background: var(--bg-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem ;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.wrapper-plant i:first-child, .wrapper-zomb i:first-child {
    left: -22px;
    
}

.wrapper-plant i:last-child, .wrapper-zomb i:last-child {
    right: -22px;
    
}

.wrapper-plant .carouselngPlant , .wrapper-zomb .carouselngZomb{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

.carouselngPlant::-webkit-scrollbar, .carouselngZomb::-webkit-scrollbar{
    display: none;
}
.carouselngPlant :where(.card , .img ), .carouselngZomb :where(.card , .img ) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselngPlant.dragging, .carouselngZomb.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carouselngPlant.dragging .card, .carouselngZomb.dragging .card {
    cursor: grab;
    user-select: none;
}

.carouselngPlant.no-transition, .carouselngZomb.no-transition {
    scroll-behavior: auto;
}

.card {
    scroll-snap-align: start;
    cursor: pointer;
    border:5px solid var(--main-color);
    padding-bottom: 15px;
    height: 342px;
    list-style: none;
    background: transparent;
    border-radius: 10px;
    flex-direction: column;



}

.card .img {
    
    background:#8b53ff;
    width: 148px;
    height: 148px;
    border-radius: 50%;

}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--bg-color);
}

.card h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 30px 0 5px;
}

.card span {
    color: #6a6d78;
    font-size: 1.5rem;

}

.zombie-preview >*{
    font-family: 'zombie-font', sans-serif;
}



/* Plant Preview Styles */

.preview, .previewZomb {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.preview .plant-preview, .previewZomb .zombie-preview {
    position: absolute;
    top: 0;
    color: var(--bg-color);
    text-align: center;
    display: none;
    background: #c5a3a3;
    border: 5px solid var(--main-color);
    position: relative;
    margin: 2rem;
    width: 40rem;
    padding: 20px;
    border-radius: 28px;
    overflow: hidden;
    transition: 200ms ease-out;
    
}

.preview .plant-preview.active, .previewZomb .zombie-preview.active{
    display: inline-block;
    animation: openPreview 300ms ease-out;
    transition: 200ms ease-in;
}

.preview .plant-preview img, .previewZomb .zombie-preview img{   
    width: 200px;
    border-radius: 28px;
}

.preview .plant-preview .fa-times, .previewZomb .zombie-preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #444;
    font-size: 2em;
    transition: 200ms ease;

}
.preview .plant-preview .fa-times:hover, .previewZomb .zombie-preview .fa-times:hover {
    transform: rotate(90deg);
}

.preview .plant-preview h2, .previewZomb .zombie-preview h2{
    padding: 1rem;
    font-size: 3rem;
    color: #444;
}


@media (max-width:1560px) {
    header{
        padding: 15px 40px;
    }
    :root {
        --big-font:3.5rem;
        --h2-font:2rem;

    }
}

@media (max-width:1140px) {
    .title {
        font-size: 5vw;
    }

    section{
        padding: 50px 8%;
    }
    #menu-icon  {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }
    header .navbar.active {
        top: 70px;
    }
    .navbar a {
        margin: 0;
        font-size: 1.5rem;
        padding: 1.5rem;
        display: block;
    }
    .col {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:900px) {

    .CD-text h2 {
        font-size: 1.7rem;
    }

    .CD-text p {
        font-size: 1rem;
    }
    header {
        padding-top: 5px;
        padding-bottom: 0;
    }
    .logo {
        font-size: 80px;
    }
    
    .navbar a {
        padding: 24px;
        font-size: 20px;
    }
    .home h2 {
        font-size: 9vw;
    }
    html {
        font-size: 3vw;
    }
    .wrapper-plant .carouselngPlant, .wrapper-zomb .carouselngZomb {
        grid-auto-columns: calc((100%/2) - 9px);
    } 
}
@media (max-width:720px) {
    
    header {
        padding: 10px 16px;
    }
    .home {
        padding-top: 20%;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    

    section{
        padding:20px 40px;
    }
}

@media (max-width:768px){

    .preview .plant-preview img, .previewZomb .zombie-preview img {
        width: 100%;
    }
    .home h2 {
        font-size: 6vw;
    }

    .preview .plant-preview .fa-times, .previewZomb .zombie-preview .fa-times{
        top: 1.5rem;
        right: 1.5rem;
    }

    .preview .plant-preview img , .previewZomb .zombie-preview img {
        width: 10rem;
    }

}

@media screen and (max-width:600px) {
    .home {
        min-height: 70vh;
    }
    .home h2 {
        font-size:7vw;
    }
    .wrapper-plant .carouselngPlant, .wrapper-zomb .carouselngZomb {
        grid-auto-columns: 100%
    } 

    .CD {
        gap: 5px;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .CD-image, .CD-image-zomboss {
        justify-self: center;
    }
    .preview .plant-preview img , .previewZomb .zombie-preview img {
        width: 8rem;
    }

    .plant-preview p, .zombie-preview p {
        font-size: 1.2rem ;
    }

    
}





@media (max-width:450px){

    .CD-text h2 {
        font-size: 2rem;
    }

    .CD-text p{
        font-size: 2rem;
    }
    html {

        font-size: 55%;
    }

    .preview .plant-preview img, .previewZomb .zombie-preview img {
        width: 18rem;
    }
    .col {
        width: 100%;
    }

    .card {
        height: 300px;
    }
    .plant-preview p, .zombie-preview p {
        font-size: 2rem ;
    }

}

@media screen and (max-width:430px){

    .logo {
        font-size: 40px;
    }
    .plant-preview , .zombie-preview {
        width: 2rem;
    }

    .preview .plant-preview img, .previewZomb .zombie-preview img {
        width: 15rem;
    }
    .plant-preview p, .zombie-preview p {
        font-size: 1.8rem ;
    }
    
    
}

@media (max-width:380px) {
    .preview .plant-preview , .previewZomb .zombie-preview {
        max-height: 300px;

    }
    .preview .plant-preview img, .previewZomb .zombie-preview img {
        width: 13rem;
    }

    .preview .plant-preview , .previewZomb .zombie-preview {
        overflow-y: scroll;

    }
    
}

@media (max-width:300px){
    
    .home h1 {
        font-size: 50px;
    }
    .home h2 {
        font-size:30px;
    }
    .card {
        height: 250px;
    }

    .card .img {
        width: 100px;
        height:100px;
        border: 3px solid #8b53ff;
    }
    .card .img img {
        width: 100%;
        height: 100%;
    }





}

@media (max-width:280px) {
      
    .preview .plant-preview img, .previewZomb .zombie-preview img{
       width: 100%;

    }

    .CD-image, .CD-image-zomboss {
        width: 150px ;
    }
    .card {
        height: 230px;
    }

    .card .img {
        width: 80px;
        height:80px;
    }
    .card .img img {
        width: 100%;
        height: 100%;
    }
}
@keyframes openPreview {
    0% {top: -200px; opacity: 0;}
    25% {top: -150px; opacity: 0.25;}
    50% {top: -100px; opacity: 0.5;}
    75% {top: -50px; opacity: 0.75;}
    100% {top: 0; opacity: 1;}

}
